# Ignore all Python scripts
*.py

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore R history and workspace files
.Rhistory
.Rprofile

.DS_Store

#Ignore pipeline outputs
data/raw/idats/
data/analyzed/
data/raw/minfi_targets_reference.csv
plots/
scripts_old/

.soft.gz
